<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmZiI54-BRaindLszFfmYCwljY3PEDp0I</string>
	<key>GCM_SENDER_ID</key>
	<string>248904259055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamed.testPushNotifications</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-6c627</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-6c627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248904259055:ios:2f5d17347f7c981ac9121a</string>
</dict>
</plist>